<%= form_for(@workout) do |f| %>
  <% if @workout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workout.errors.count, "error") %> prohibited this workout from being saved:</h2>

      <ul>
      <% @workout.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <p>
    <%= f.label :where %>
    <%= f.text_field :where, :size => "50" %>
    </p>

    <p>
    <%= f.label :when %>
    <%= date_select :workout, :when, default: Time.now.in_time_zone('US/Eastern') %>
    </p>

    <p>
    <%= f.label :type %>
    <%= select :workout, :type, [
      ['Speed Workout', 'SpeedWorkout'], ['Distance Workout', 'DistanceWorkout']
      ] %>
    </p>

    <p>
    <%= f.label :notes %>
    <%= f.text_area :notes, size: "60x12" %>
    </p>

    <%= f.submit %>
  </div>
<% end %>
