<h1><%= track_workout.where %> | <%= track_workout.when.strftime('%b %d %Y') %></h1>
<h2>Track Workout</h2>

<table>
<th>
    <tr>
        <th>Distance (m)</th>
        <th>Time</th>
        <th>Rest</th>
    </tr>
<% track_workout.run_intervals.each do |ri| %>
  <tr>
    <td><%= ri.distance_in_meters %></td>
    <td><%= ri.time %></td>
    <td><%= ri.rest %></td>
  </tr>
<% end %>
</table>

<% if logged_in? && @workout.user == current_user %>
<p>
<%= link_to 'Add run interval', new_workout_run_interval_path(@workout) %>
</p>
<% end %>
