{{#*inline "content"}}
    <p>
        {{message0}}
    </p>

    <textarea id="input1">{{message1}}</textarea>
    <button id="button1">Save</button>

    <textarea id="input2">{{message2}}</textarea>
    <button id="button2">Save</button>

    <script>
        var input1 = document.getElementById("input1");
        var input2 = document.getElementById("input2");
        var button1 = document.getElementById("button1");
        var button2 = document.getElementById("button2");

        function handleMessage(event) {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", '/messages/fromxhr', true);
            xhr.setRequestHeader("Content-Type", "application/json");

            xhr.onreadystatechange = function() {
                if (this.readyState === XMLHttpRequest.DONE && this.status === 201) {
                } else {
                    console.log("error: " + this.status);
                }
            }

            let payload;
            if (event.target.id === button1.id) {
                payload = { message_group: "{{messageGroup}}", author: "{{author1}}", index: 1, body: input1.value };
            }

            if (event.target.id === button2.id) {
                payload = { message_group: "{{messageGroup}}", author: "{{author1}}", index: 2, body: input2.value };
            }

            if (payload) {
                xhr.send(JSON.stringify(payload));
            }
        }

        button1.addEventListener("click", handleMessage);
        button2.addEventListener("click", handleMessage);
    </script>
{{/inline}}
{{~> application~}}
