<%= form_for([@workout, @track_interval], url: workout_track_intervals_path(@workout)) do |f| %>
  <% if @track_interval.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@track_interval.errors.count, "error") %> prohibited this track interval from being saved:</h2>

      <ul>
      <% @track_interval.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <p>
    <%= f.label :order %>
    <%= f.number_field(:order, in: 1..30, step: 1) %>
    </p>

    <p>
    <%= f.label :distance_in_meters %>
    <%= f.number_field(:distance_in_meters, in: 0..10000, step: 100) %>
    </p>

    <p>
    <%= f.label :time %>
    <%= f.text_field(:time) %>
    </p>

    <p>
    <%= f.label :rest %>
    <%= f.text_field(:rest) %>
    </p>

    <%= f.submit %>
  </div>
<% end %>
