<div class="nav_container">
    <ul class="nav_list">
        <li class="<%= current_page?(root_path) ? :current : nil %>"><a class="nav_list" href="/">/</a></li>

        <li class="<%= current_page?(about_path) ? :current : nil %>">
            <%= link_to "ABOUT", about_path, class: "nav_list" %>
        </li>

        <% if logged_in? %>
            <li class="<%= current_page?(workouts_path) ? :current : nil %>">
            <%= link_to "WORKOUTS", workouts_path, class: "nav_list" %>
            </li>
        <% end %>

        <% if logged_in? %>
            <li class="<%= current_page?(logout_path) ? :current : nil %>">
            <%= link_to "LOG OUT", logout_path, method: :delete, class: "nav_list" %>
            </li>
        <% else %>
            <li class="<%= current_page?(login_path) ? :current : nil %>">
            <%= link_to "LOG IN", login_path, class: "nav_list" %>
            </li>
        <% end %>
    </ul>
</div>
